/* blue, yellow circle */
.home-area {
  position: relative;
  width: 100%;
  height: 100vh;
}
.home-area .home-blue-circle {
  position: absolute;
  top: 0;
  left: 0;
}
.home-area .home-yellow-circle {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(100%, 100%);
}
/* emoji animation */
@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate_image_reverse1 {
  0% {
    transform: rotate(0deg) scale(1);
    -webkit-transform: rotate(0deg) scale(1);
  }
  5% {
    transform: rotate(-18deg) scale(0.7);
    -webkit-transform: rotate(-18deg) scale(0.7);
  }
  10% {
    transform: rotate(-36deg) scale(1);
    -webkit-transform: rotate(-36deg) scale(1);
  }
  15% {
    transform: rotate(-54deg) scale(0.7);
    -webkit-transform: rotate(-54deg) scale(0.7);
  }
  20% {
    transform: rotate(-72deg) scale(1);
    -webkit-transform: rotate(-72deg) scale(1);
  }
  25% {
    transform: rotate(-90deg) scale(0.7);
    -webkit-transform: rotate(-90deg) scale(0.7);
  }
  30% {
    transform: rotate(-108deg) scale(1);
    -webkit-transform: rotate(-108deg) scale(1);
  }
  35% {
    transform: rotate(-126deg) scale(0.7);
    -webkit-transform: rotate(-126deg) scale(0.7);
  }
  40% {
    transform: rotate(-144deg) scale(1);
    -webkit-transform: rotate(-144deg) scale(1);
  }
  45% {
    transform: rotate(-162deg) scale(0.7);
    -webkit-transform: rotate(-162deg) scale(0.7);
  }
  50% {
    transform: rotate(-180deg) scale(1);
    -webkit-transform: rotate(-180deg) scale(1);
  }
  55% {
    transform: rotate(-198deg) scale(0.7);
    -webkit-transform: rotate(-198deg) scale(0.7);
  }
  60% {
    transform: rotate(-216deg) scale(1);
    -webkit-transform: rotate(-216deg) scale(1);
  }
  65% {
    transform: rotate(-234deg) scale(0.7);
    -webkit-transform: rotate(-234deg) scale(0.7);
  }
  70% {
    transform: rotate(-252deg) scale(1);
    -webkit-transform: rotate(-252deg) scale(1);
  }
  75% {
    transform: rotate(-270deg) scale(0.7);
    -webkit-transform: rotate(-270deg) scale(0.7);
  }
  80% {
    transform: rotate(-288deg) scale(0.7);
    -webkit-transform: rotate(-288deg) scale(0.7);
  }
  85% {
    transform: rotate(-306deg) scale(1);
    -webkit-transform: rotate(-306deg) scale(1);
  }
  90% {
    transform: rotate(-324deg) scale(0.7);
    -webkit-transform: rotate(-324deg) scale(0.7);
  }
  95% {
    transform: rotate(-342deg) scale(1);
    -webkit-transform: rotate(-342deg) scale(1);
  }
  100% {
    transform: rotate(-360deg) scale(0.7);
    -webkit-transform: rotate(-360deg) scale(0.7);
  }
}

@keyframes rotate_image_reverse2 {
  0% {
    transform: rotate(0deg) scale(0.7);
    -webkit-transform: rotate(0deg) scale(0.7);
  }
  5% {
    transform: rotate(-18deg) scale(1);
    -webkit-transform: rotate(-18deg) scale(1);
  }
  10% {
    transform: rotate(-36deg) scale(0.7);
    -webkit-transform: rotate(-36deg) scale(0.7);
  }
  15% {
    transform: rotate(-54deg) scale(1);
    -webkit-transform: rotate(-54deg) scale(1);
  }
  20% {
    transform: rotate(-72deg) scale(0.7);
    -webkit-transform: rotate(-72deg) scale(0.7);
  }
  25% {
    transform: rotate(-90deg) scale(1);
    -webkit-transform: rotate(-90deg) scale(1);
  }
  30% {
    transform: rotate(-108deg) scale(0.7);
    -webkit-transform: rotate(-108deg) scale(0.7);
  }
  35% {
    transform: rotate(-126deg) scale(1);
    -webkit-transform: rotate(-126deg) scale(1);
  }
  40% {
    transform: rotate(-144deg) scale(0.7);
    -webkit-transform: rotate(-144deg) scale(0.7);
  }
  45% {
    transform: rotate(-162deg) scale(1);
    -webkit-transform: rotate(-162deg) scale(1);
  }
  50% {
    transform: rotate(-180deg) scale(0.7);
    -webkit-transform: rotate(-180deg) scale(0.7);
  }
  55% {
    transform: rotate(-198deg) scale(1);
    -webkit-transform: rotate(-198deg) scale(1);
  }
  60% {
    transform: rotate(-216deg) scale(0.7);
    -webkit-transform: rotate(-216deg) scale(0.7);
  }
  65% {
    transform: rotate(-234deg) scale(1);
    -webkit-transform: rotate(-234deg) scale(1);
  }
  70% {
    transform: rotate(-252deg) scale(0.7);
    -webkit-transform: rotate(-252deg) scale(0.7);
  }
  75% {
    transform: rotate(-270deg) scale(1);
    -webkit-transform: rotate(-270deg) scale(1);
  }
  80% {
    transform: rotate(-288deg) scale(0.7);
    -webkit-transform: rotate(-288deg) scale(0.7);
  }
  85% {
    transform: rotate(-306deg) scale(1);
    -webkit-transform: rotate(-306deg) scale(1);
  }
  90% {
    transform: rotate(-324deg) scale(0.7);
    -webkit-transform: rotate(-324deg) scale(0.7);
  }
  95% {
    transform: rotate(-342deg) scale(1);
    -webkit-transform: rotate(-342deg) scale(1);
  }
  100% {
    transform: rotate(-360deg) scale(0.7);
    -webkit-transform: rotate(-360deg) scale(0.7);
  }
}
