/* 폰트 크기 */
.xxs-font {
  font-size: 10px;
}
.xs-font {
  font-size: 12px;
}
.xsm-font {
  font-size: 13px;
}
.sm-font {
  font-size: 14px;
}
.md-font {
  font-size: 15px;
}
.lg-font {
  font-size: 18px;
}
.xl-font {
  font-size: 20px;
}
.xxl-font {
  font-size: 22px;
}
.xxxl-font {
  font-size: 24px;
}
.xxxxl-font {
  font-size: 26px;
}
.x-big-large-font {
  font-size: 34px;
}
/* 폰트 색상 */
.main-col-1 {
  color: var(--main-col-1);
}
.main-col-2 {
  color: var(--main-col-2);
}
.main-col-3 {
  color: var(--main-col-3);
}
.main-col-4 {
  color: var(--main-col-4);
}
.main-col-5 {
  color: var(--main-col-5);
}
.text-col-1 {
  color: var(--text-col-1);
}
.text-col-2 {
  color: var(--text-col-2);
}
.text-col-3 {
  color: var(--text-col-3);
}
.black-col-1 {
  color: black !important;
}
.white-col-1 {
  color: white !important;
}
/* 폰트 굵기 */
.main-font-rg {
  font-family: var(--main-font-1);
}
.main-font-bd {
  font-family: var(--main-font-2);
}
.col-transparent {
  background-color: transparent !important;
}
